body {
    background: #241e1e;
    height: fit-content;
}

/* 
.circles{
    height: 300px;
    width: 300px;
        position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    color: rgb(0, 0, 0);
    transform: translate3d(-50%,-50%,0);
}

.circle{
    box-sizing:border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 20px solid transparent;
    border-radius: 125% 140% 255% 110%/190% 140% 120% 110%;
    mix-blend-mode: screen;
    border-color: rgb(0, 2, 17);

} */




.circles {
    height: 200px;
    width: 200px;
    margin: 200px auto;



    transform: translate3d(-50%, -100%, 0);
    border-radius: 50%;
    box-shadow: inset 0 0 35px 15px black;
    background: linear-gradient(135deg, rgb(255, 225, 0)20%, rgb(15, 76, 155)80%);
    animation: spin 30s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.circle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    border-radius: 125% 150% 155% 110%/115% 130% 100% 115%;
    mix-blend-mode: screen;


}

.circle:nth-child(1) {
    border-color: rgb(0, 253, 30);
    transform-origin: 50% 50%;
    animation: spin1 10s linear infinite;
}



@keyframes spin1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

.circle:nth-child(2) {
    border-color: rgb(0, 4, 130);
    transform-origin: 50% 50%;
    animation: spin2 10s linear infinite;
}

@keyframes spin2 {
    0% {
        transform: rotate(72deg);
    }

    100% {
        transform: rotate(-288deg);
    }

}

.circle:nth-child(3) {
    border-color: cyan;
    transform-origin: 50% 50%;
    animation: spin3 10s linear infinite;
}

@keyframes spin3 {
    0% {
        transform: rotate(144deg);
    }

    100% {
        transform: rotate(-216deg);
    }

}

.circle:nth-child(4) {
    border-color: rgb(66, 119, 80);
    transform-origin: 50% 50%;
    animation: spin4 10s linear infinite;
}

@keyframes spin4 {
    0% {
        transform: rotate(216deg);
    }

    100% {
        transform: rotate(-144deg);
    }

}

.circle:nth-child(5) {
    border-color: rgb(255, 0, 111);
    transform-origin: 50% 50%;
    animation: spin5 10s linear infinite;
}

@keyframes spin5 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }

}